<?php

/**
 * Sopha - A PHP 5.x Interface to CouchDB
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * http://prematureoptimization.org/sopha/license/new-bsd
 * 
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@zend.com so we can send you a copy immediately.
 *
 * @package    Sopha
 * @category   Tests
 * @version    $Id: Exception.php 2 2008-03-20 21:58:05Z shahar.e $
 * @license    http://prematureoptimization.org/sopha/license/new-bsd 
 */

/**
 * Test Configuration File 
 * 
 * Edit this file if you need to before running any tests
 */


/**
 * CouchDB server location
 * 
 * Set SOPHA_TESTDB_URL to the base URL (including host, port and DB path) of a
 * CouchDB database to test against. If this database will not exist it will be
 * created. If it does exist, its content will be deleted. This database will 
 * be used to test Sopha.
 * 
 * If you have no access to a CouchDb server at the moment, set ST_TESTDB_URL 
 * to boolean false. This will cause all tests that require a CouchDB server to
 * be skipped.
 */

// define('SOPHA_TEST_DB_URL', 'http://localhost:5984/sopha__test__');
define('SOPHA_TEST_DB_URL', false);
